*{
    box-sizing: border-box;

}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

/*.container {*/
/*    background-color: #96b7c8;*/
/*    width: 100%;*/
/*}*/
.buttons {
     background: #307473;

 }

.jumbotron {
    /*display: flex;*/
    background-color: #96b7c8;
    background-image: url("img/closeup-coffee.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    /*opacity: 6.5;*/
}
#logo {
    width: 200px;
}
h1 {
    color: #2DC2BD;
    opacity: unset;
    font-weight: bolder;
}
.jumbotron h1 {
    font-family: cursive;
    color: #307373;
    font-weight: bolder;
     text-shadow: 2px 2px white;
}
.navbar {
   background-color: lightblue;
}

.card-body h1{
    font-family: cursive;
    color: #307373;
    font-weight: bolder;
}
.card-body p {
    font-family: "Brush Script MT";
    font-size: 18pt;
}
.row .card {
    background-color: rgb(189,180,209);
    padding: 0;
}
#pastries p{
    font-size: 30pt;
}
.card {
    height: 500px;
    width: 500px;
    margin: 30px
}
#coffees h1 {
    font-size: 20px;
}
.buttons {
    height: 30px;
    margin-right: 1em;
}
#addCof {
    height: 100%;
}